
.edits{position:absolute;padding: 7px;color: blue;text-decoration: underline; cursor:pointer;}
.mar-b{margin-bottom:3px;}
.mar-bt{margin-bottom:4px !important;}
.contents{text-align:center; padding:60px;}

.bg-img{background:trasparent url("images/imgs.jpg");}
.contents span.comp{font-size:30px; color:#fff;}
.contents span.comptxt{ font-size:14px; color:#fff;}
