html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.accordion-tabs-minimal {
  line-height: 1.5;
  padding: 0;
}

.accordion-tabs-minimal::after {
  clear: both;
  content: "";
  display: table;
}

.accordion-tabs-minimal .tab-header-and-content {
  list-style: none;
}

@media screen and (min-width: 40em) {
  .accordion-tabs-minimal .tab-header-and-content {
    display: inline;
  }
 
}

.accordion-tabs-minimal .tab-link {
  border-top: 1px solid #dcdcdc;
  color: #008ae7;
  display: block;
  padding: 0.75em 1.618em;
  text-decoration: none;
  background:#fff;
}

@media screen and (min-width: 40em) {
  .accordion-tabs-minimal .tab-link {
    border-top: 0;
    display: inline-block;
	background:#fff;
	font-weight:bold;
  }
 
}

.accordion-tabs-minimal .tab-link:hover {
  color: #000;
  background:#f5f5f5;
}

.accordion-tabs-minimal .tab-link:focus {
  outline: none;
}

.accordion-tabs-minimal .tab-link.is-active {
  border-bottom: 0;  
  background:#0071bc;
  color:#fff;
}

@media screen and (min-width: 40em) {
  .accordion-tabs-minimal .tab-link.is-active {
    /* border-bottom-color here needs to be set to the same color as your background to hide the top border on the content */
    border-bottom-color: #fff;
    margin-bottom: -1px;
	background:#0072bc;
	color:#fff;
  }
 
}

.accordion-tabs-minimal .tab-content {
  display: none;
  padding: 1.5em 1.618em;
  width: 100%;
  background:transparent url("bg-px.png") repeat 0 0;
}

@media screen and (min-width: 40em) {
  .accordion-tabs-minimal .tab-content {
    border-top: 4px solid #0072bc;
    float: left;
	background:transparent url("bg-px.png") repeat 0 0;
	color:#fff;
	border-left:1px solid #0072bc;
	border-right:1px solid #0072bc;
	border-bottom:1px solid #0072bc;
	/*min-height:330px;*/
  }
  .accordion-tabs-minimal .tab-content p{color:#000;}
  .is-open{}
 
}


@media screen and (max-width: 500px) {
    .rght-pad{padding-right:0;}
	.flt{display:none;}
	.carousel-content{display:none;}
	.topform-section{top:20px;}
	span.main_header{font-size:20px;}
}

@media screen and (max-width: 600px) {
    .rght-pad{padding-right:0;}
	.flt{display:none;}
	.carousel-content{display:none;}
	.topform-section{top:20px;}
	span.main_header{font-size:20px;}
}

@media screen and (max-width: 768px) {
    .rght-pad{padding-right:0;}
	.flt{display:none;}
	.carousel-content{display:none;}
	.topform-section{top:20px;}
	span.main_header{font-size:20px;}
}
.add-section-rhs{padding-bottom:10px;}
.labeling{padding:7px;}
.col-form-label{font-weight:bold; color:#fff;}
.is-active .pay{background:transparent url("pay-active.png") no-repeat; width:20px; height:26px; float:left;}
.pay{background:transparent url("pay-normal.png") no-repeat; width:20px; height:26px; float:left;}
.is-active .tax{background:transparent url("tax-active.png") no-repeat; width:20px; height:26px; float:left;}
.tax{background:transparent url("tax-normal.png") no-repeat; width:20px; height:26px; float:left;}
.is-active .bills{background:transparent url("bill-active.png") no-repeat; width:20px; height:26px; float:left;}
.bills{background:transparent url("bill-normal.png") no-repeat; width:20px; height:26px; float:left;}
.main_header{color: #fff;font-size: 26px; display: block; padding-bottom: 5px; font-weight: bold; text-align: center;}
.impt{font-size:12px;}